<%-include("partials/header")%>
  <link rel="stylesheet" href="/bookings.css">
</head>

<body>
	<div class="container">
		<nav class="mx-auto navbar navbar-expand-lg navbar-light bg-white fixed-top" style="padding-top:1vh; border-bottom:1px solid black; max-width:1200px;">
			  <a class="navbar-brand" href="#">
				  <img src="/Icons/Sprout Icon.jpg" width="100px" height="100px" id="brand-img"alt="">
				  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse justify-content-right" id="navbarNav">
				<ul class="navbar-nav ml-auto">
				  <li class="nav-item">
					<a class="nav-link" href="/about">Home <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/about#menu">Menu</a>
				  </li>
					 <li class="nav-item">
					<a class="nav-link" href="/about#events">Events</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/about#contact">Contact Us</a>
				  </li>
				 
				</ul>
			  </div>
			</nav>
		<div class="content rounded text-center mx-auto border">
			<h3 class="sprout-color">
				Bookings and Enquiries
			</h3>
			<p>
				Space is often limited and sure to fill up fast! To secure your spot for any bookings either drop into the restaurant or send an etransfer to <a class="sprout-color" href="mailto:sprouteaterynelson@gmail.com">sprouteaterynelson@gmail.com</a>
			</p>
			<p>
				Please don't hesitate to use the email above for any enquiries or catering events. Alternatively connect with us on our socials!
			</p>
			<div class="d-flex justify-content-around">
									  <a href="https://www.facebook.com/SproutEateryNelson">
							 <i class="fab fa-facebook sprout-color"></i>
							 </a>
								  <a href="https://www.instagram.com/sprouteaterynelson/"><i class="fab fa-instagram sprout-color"></i></a>
								 </div>
		</div>
	</div>
</body>
<%-include("partials/footer")%>