<%-include("partials/header")%>
</head>
<body>
	
<div class="container">
	<div class="d-flex justify-content-center" style="height:60vh; padding-top:35vh">
		<div class="text-center">
			<h3>
				Are you sure you want to delete <strong><%=event.title%></strong>?
			</h3>
			<form action="/<%=event._id%>?_method=DELETE" method="POST">
				<button class="btn btn-danger">Delete
				</button>
			</form>
		</div>
	</div>
	
</div>

<%-include("partials/footer")%>